{% extends 'base.html.twig' %}
{% block body %}
    <a href="{{ path('supplies') }}" class="m-3">Назад</a>
    <div class="container">
        <div class="row mt-2">
            <div class="col-lg-12">
                <div class="card shadow">
                    <div class="card-header text-center">
                        <h3>Добавление поставки</h3>
                    </div>
                    <div class="card-body">
                        <form action="" id="supply-form" name="supplyForm">
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <label for="sender">Отправитель</label><input placeholder="Введите отправителя" class="form-control" name="sender" id="sender" type="text">
                                </div>
                                <div class="col-lg-6">
                                    <label for="recipient">Получатель</label><input placeholder="Введите получателя" name="recipient" class="form-control" type="text" id="recipient">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <label for="contract">Номер договора</label><input placeholder="Введите номер договора" name="contract" class="form-control" id="contract" type="text">
                                </div>
                                <div class="col-lg-6">
                                    <label for="date">Дата</label><input id="date" name="date" class="form-control" type="date">
                                </div>
                            </div>
                            <div class="form-group row justify-content-center">
                                <div class="col-lg-4">
                                    <input class="form-control-file" type="file" id="file" name="file">
                                </div>
                            </div>
                            <button class="btn" type="button" id="send-btn">Добавить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/myJs/products/addProducts.js') }}"></script>
{% endblock %}