{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row mt-2 justify-content-center">
            <h2>Добавление продажи</h2>
        </div>
        <div class="row mt-3">
            <div class="col-lg-6">
                <div class="card shadow">
                    <div class="card-body">
                        <input type="text" class="form-control" id="product-search" placeholder="Введите название для поиска">
                        <table class="table border mt-3">
                            <thead>
                            <th></th>
                            <th>Артикул</th>
                            <th>Название</th>
                            </thead>
                            <tbody id="table-body">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card shadow">
                    <div class="card-body">
                        <label for="sale-platform">Платформа</label><input type="text" class="form-control" id="sale-platform">
                        <label for="sale-price">Стоимость</label><input type="text" class="form-control" id="sale-price">
                        <label for="sale-quantity">Количество</label><input type="text" class="form-control" id="sale-quantity">
                        <label for="buyer">Имя покупателя</label><input type="text" class="form-control" id="buyer">
                        <button class="btn mt-3 btn-primary" id="send-button">
                            Добавить
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/myJs/sales/addSale.js') }}"></script>
{% endblock %}